body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  overflow: hidden;
  background-color: #fa163f;
  text-align: center;
  height: 40px;
}

li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

li a {
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
}

.row {
  display: table;
}

.column {
  /* flex: 50%; */
  display: table-cell;
}

.intro {
  height: 500px;
  background-color: #12cad6;
  text-align: center;
  width: 100%;
}

.description {
  margin-left: 20px;
  vertical-align: middle;
    padding: 20px;
}

.brand-name {
  font-family: 'Patrick Hand', cursive;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 30px;
}

.slogan {
  color: #fff;
  font-size: 30px;
  padding: 0;
  margin-left: 15px;
  word-wrap: break-word;
}

button {
  background-color: #fff;
  font-size: 30px;
  margin-top: 10px;
  height: 70px;
  width: 300px;
}
button img {
  float: left;
  width: 20%;
  height: 70%;
  text-align: center;
  padding-right: 0;
  margin-right: 0;
}
button span {
  text-align: center;
  vertical-align:middle;
  padding-left: 0;
  margin-left: 0;
}

.bot {
  /* float: right;
  margin-top: 30px; */
  vertical-align: middle;
}

.about {
  background-color: #fff;
  height: 400px;
  text-align: center;
  margin: 0 70px;
  font-size: 1.2em;
}

.about_title {
  padding: 12px;
  font-size: 2.5em;
}

tr {
  text-align: center;
}

td {
  padding: 30px;
  padding-top: 0;
}

.about_more {
  margin: 0;
  padding-left:30px;
  text-align: left;
}

.features {
  background-color: #0fabbc;
  height: 600px;
  text-align: center;
}

.feature_title{
  margin-top: 20px;
  padding: 12px;
  font-size: 2.5em;
}

.feature_row {
  display: table;
  width: 100%;
  margin: 0;
  padding: 20px;

}

.card_col {
  float: none;
  width: 25%;
  align-items: center;
  column-gap: normal;
}

.card {
  background-color: #40596b;
  margin: 5px 50px;
  width: 60%;
}

.card img {
  margin-top: 20px;
  width: 150px;
  height: 200px;
}

/* Add some padding inside the card container */
.container {
  background-color: #fff;
  padding: 12px;
  vertical-align: bottom;
}


.cta {
  background-color: #fff;
  height: 500px;
  text-align: center;
}


.page_title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.page_content {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding:5px;
  font-size: 1.2em;
  width: 25em;
  line-height: 26pt;
}

.page_btn {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #b9cced;
  color: #fff;
}

.info {
  background-color: #e4f9ff;
  height: 100px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0;
}
